*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color : white;
}
.container{
    width: 400px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.sp{
    text-align: right;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 40px;
    margin-bottom: 5px;
}
.calc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
tr{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
td{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(78, 75, 75);
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
td:active{
    background-color: rgb(44, 42, 42);
}
.zer{
    width: 170px;
    border-radius: 30px;
}
.sign{
    background-color: rgb(233, 161, 27);
}
.sign:active{
    background-color: rgb(180, 124, 20);
}